@model Warzywniak.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <h4>Order</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrdareDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdareDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realized)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Realized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nick)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Product name")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Sum")
            </th>
        </tr>

        @foreach (var item in Model.OrderProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
