@model Warzywniak.UserAdress

@{
    ViewBag.Title = "Details";
}

<h2>User Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress.RoadName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress.RoadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress.HouseNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>