@model IEnumerable<Warzywniak.OrderEntity>
@{
    ViewBag.Title = "ShowAllOrders";
}
<h2>User's order summary</h2>

<div>
    <h4>User:</h4>
    @foreach (var user in @ViewData["user"] as IList<User>)
    {
    <dl class="dl-horizontal">
        <dt>
            Nick:
        </dt>
        <dd>
            @user.Nick
        </dd>
        <dt>
            Phone number:
        </dt>
        <dd>
            @user.PhoneNumber
        </dd>
        <dt>
            Total:
        </dt>
        <dd>
            @ViewBag.Total zł
        </dd>
    </dl>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realized)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.OrderId)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </th>
        <th>
            @Html.DisplayTextFor(modelItem => item.Realized)

        </th>
    </tr>

        <td>
            Product Name
        </td>
        <td>
            Quantity
        </td>
        <td>
            Product Unit
        </td>
        <td>
            Vat
        </td>
        <td>
            Product Price
        </td>
        <td>
            Total
        </td>

        foreach (var product in item.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Vat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Sum)
                </td>
            </tr>

        }

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

                <th>
                    Full Order value:
                </th>
                <th>
                     @Html.DisplayFor(modelItem => item.fullPrice)
                </th>
            </tr>

    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
